{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Stock Price</th>
                <th>Stock Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ quote.name }}</td>
                <td>{{ quote.price | usd }}</td>
                <td>{{ quote.symbol }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
